:root {
  --black:#000;
  --aliceblue:#f0f8ff;
  --darkcyan:#008b8b;
  --lightyellow:#ff0;
  --coral:#f75;
  --dimgray:#696969;
  --lavender:#e6e6fa;
  --teal:#008080;
  --lightgoldenrodyellow:#fafad2;
  --tomato:#f63;
  --gray:#808080;
  --lightsteelblue:#b0c4de;
  --darkslategray:#2f4f4f;
  --lemonchiffon:#fffacd;
  --orangered:#f45;
  --darkgray:#a9a9a9;
  --lightslategray:#789;
  --darkgreen:#006400;
  --wheat:#f5deb3;
  --red:#ff0000;
  --silver:#c0c0c0;
  --slategray:#708090;
  --green:#080;
  --burlywood:#deb887;
  --crimson:#dc143c;
  --lightgray:#d3d3d3;
  --steelblue:#4682b4;
  --forestgreen:#228b22;
  --tan:#d2b48c;
  --mediumvioletred:#c71585;
  --gainsboro:#dcdcdc;
  --royalblue:#4169e1;
  --seagreen:#2e8b57;
  --khaki:#f0e68c;
  --deeppink:#f1493;
  --whitesmoke:#f5f5f5;
  --midnightblue:#191970;
  --mediumseagreen:#3cb371;
  --yellow:#ff0;
  --hotpink:#ff69b4;
  --white:#fff;
  --navy:#000080;
  --mediumaquamarine:#66cdaa;
  --gold:#ffd700;
  --palevioletred:#db7093;
  --snow:#fffafa;
  --darkblue:#00008b;
  --darkseagreen:#8fbc8f;
  --orange:#fa0;
  --pink:pink;
  --ghostwhite:#f8f8ff;
  --mediumblue:#0000cd;
  --aquamarine:#7fffd4;
  --sandybrown:#f4a460;
  --lightpink:#ffb6c1;
  --floralwhite:#fffaf0;
  --blue:#00f;
  --palegreen:#98fb98;
  --darkorange:#f80;
  --thistle:#d8bfd8;
  --linen:#faf0e6;
  --dodgerblue:#1e90ff;
  --lightgreen:#90ee90;
  --goldenrod:#daa520;
  --magenta:#f0f;
  --antiquewhite:#faebd7;
  --cornflowerblue:#6495ed;
  --springgreen:#0f7;
  --peru:#cd853f;
  --fuchsia:#f0f;
  --papayawhip:#ffefd5;
  --deepskyblue:#0bf;
  --mediumspringgreen:#00fa9a;
  --darkgoldenrod:#b8860b;
  --violet:#ee82ee;
  --blanchedalmond:#ffebcd;
  --lightskyblue:#87cefa;
  --lawngreen:#7cfc00;
  --chocolate:#d2691e;
  --plum:#dda0dd;
  --bisque:#ffe4c4;
  --skyblue:#87ceeb;
  --chartreuse:#7f0;
  --sienna:#a0522d;
  --orchid:#da70d6;
  --moccasin:#ffe4b5;
  --lightblue:#add8e6;
  --greenyellow:#adff2f;
  --saddlebrown:#8b4513;
  --mediumorchid:#ba55d3;
  --navajowhite:#ffdead;
  --powderblue:#b0e0e6;
  --lime:#0f0;
  --maroon:maroon;
  --darkorchid:#9932cc;
  --peachpuff:#ffdab9;
  --paleturquoise:#afeeee;
  --limegreen:#32cd32;
  --darkred:#8b0000;
  --darkviolet:#9400d3;
  --mistyrose:#ffe4e1;
  --lightcyan:#e0ffff;
  --yellowgreen:#9acd32;
  --brown:#a52a2a;
  --darkmagenta:#8b008b;
  --lavenderblush:#fff0f5;
  --cyan:#0ff;
  --darkolivegreen:#556b2f;
  --firebrick:#b22222;
  --purple:#800080;
  --seashell:#fff5ee;
  --aqua:#0ff;
  --olivedrab:#6b8e23;
  --indianred:#cd5c5c;
  --indigo:#4b0082;
  --oldlace:#fdf5e6;
  --turquoise:#40e0d0;
  --olive:#808000;
  --rosybrown:#bc8f8f;
  --darkslateblue:#483d8b;
  --ivory:#fffff0;
  --mediumturquoise:#48d1cc;
  --darkkhaki:#bdb76b;
  --darksalmon:#e9967a;
  --blueviolet:#8a2be2;
  --honeydew:#f0fff0;
  --darkturquoise:#00ced1;
  --palegoldenrod:#eee8aa;
  --lightcoral:#f08080;
  --mediumpurple:#9370db;
  --mintcream:#f5fffa;
  --lightseagreen:#20b2aa;
  --cornsilk:#fff8dc;
  --salmon:#fa8072;
  --slateblue:#6a5acd;
  --azure:#f0ffff;
  --cadetblue:#5f9ea0;
  --beige:#f5f5dc;
  --lightsalmon:#ffa07a;
  --mediumslateblue:#7b68ee;
}

.text-black {
  color: var(--black);
}

.text-aliceblue {
  color: var(--aliceblue);
}

.text-darkcyan {
  color: var(--darkcyan);
}

.text-lightyellow {
  color: var(--lightyellow);
}

.text-coral {
  color: var(--coral);
}

.text-dimgray {
  color: var(--dimgray);
}

.text-lavender {
  color: var(--lavender);
}

.text-teal {
  color: var(--teal);
}

.text-lightgoldenrodyellow {
  color: var(--lightgoldenrodyellow);
}

.text-tomato {
  color: var(--tomato);
}

.text-gray {
  color: var(--gray);
}

.text-lightsteelblue {
  color: var(--lightsteelblue);
}

.text-darkslategray {
  color: var(--darkslategray);
}

.text-lemonchiffon {
  color: var(--lemonchiffon);
}

.text-orangered {
  color: var(--orangered);
}

.text-darkgray {
  color: var(--darkgray);
}

.text-lightslategray {
  color: var(--lightslategray);
}

.text-darkgreen {
  color: var(--darkgreen);
}

.text-wheat {
  color: var(--wheat);
}

.text-red {
  color: var(--red);
}

.text-silver {
  color: var(--silver);
}

.text-slategray {
  color: var(--slategray);
}

.text-green {
  color: var(--green);
}

.text-burlywood {
  color: var(--burlywood);
}

.text-crimson {
  color: var(--crimson);
}

.text-lightgray {
  color: var(--lightgray);
}

.text-steelblue {
  color: var(--steelblue);
}

.text-forestgreen {
  color: var(--forestgreen);
}

.text-tan {
  color: var(--tan);
}

.text-mediumvioletred {
  color: var(--mediumvioletred);
}

.text-gainsboro {
  color: var(--gainsboro);
}

.text-royalblue {
  color: var(--royalblue);
}

.text-seagreen {
  color: var(--seagreen);
}

.text-khaki {
  color: var(--khaki);
}

.text-deeppink {
  color: var(--deeppink);
}

.text-whitesmoke {
  color: var(--whitesmoke);
}

.text-midnightblue {
  color: var(--midnightblue);
}

.text-mediumseagreen {
  color: var(--mediumseagreen);
}

.text-yellow {
  color: var(--yellow);
}

.text-hotpink {
  color: var(--hotpink);
}

.text-white {
  color: var(--white);
}

.text-navy {
  color: var(--navy);
}

.text-mediumaquamarine {
  color: var(--mediumaquamarine);
}

.text-gold {
  color: var(--gold);
}

.text-palevioletred {
  color: var(--palevioletred);
}

.text-snow {
  color: var(--snow);
}

.text-darkblue {
  color: var(--darkblue);
}

.text-darkseagreen {
  color: var(--darkseagreen);
}

.text-orange {
  color: var(--orange);
}

.text-pink {
  color: var(--pink);
}

.text-ghostwhite {
  color: var(--ghostwhite);
}

.text-mediumblue {
  color: var(--mediumblue);
}

.text-aquamarine {
  color: var(--aquamarine);
}

.text-sandybrown {
  color: var(--sandybrown);
}

.text-lightpink {
  color: var(--lightpink);
}

.text-floralwhite {
  color: var(--floralwhite);
}

.text-blue {
  color: var(--blue);
}

.text-palegreen {
  color: var(--palegreen);
}

.text-darkorange {
  color: var(--darkorange);
}

.text-thistle {
  color: var(--thistle);
}

.text-linen {
  color: var(--linen);
}

.text-dodgerblue {
  color: var(--dodgerblue);
}

.text-lightgreen {
  color: var(--lightgreen);
}

.text-goldenrod {
  color: var(--goldenrod);
}

.text-magenta {
  color: var(--magenta);
}

.text-antiquewhite {
  color: var(--antiquewhite);
}

.text-cornflowerblue {
  color: var(--cornflowerblue);
}

.text-springgreen {
  color: var(--springgreen);
}

.text-peru {
  color: var(--peru);
}

.text-fuchsia {
  color: var(--fuchsia);
}

.text-papayawhip {
  color: var(--papayawhip);
}

.text-deepskyblue {
  color: var(--deepskyblue);
}

.text-mediumspringgreen {
  color: var(--mediumspringgreen);
}

.text-darkgoldenrod {
  color: var(--darkgoldenrod);
}

.text-violet {
  color: var(--violet);
}

.text-blanchedalmond {
  color: var(--blanchedalmond);
}

.text-lightskyblue {
  color: var(--lightskyblue);
}

.text-lawngreen {
  color: var(--lawngreen);
}

.text-chocolate {
  color: var(--chocolate);
}

.text-plum {
  color: var(--plum);
}

.text-bisque {
  color: var(--bisque);
}

.text-skyblue {
  color: var(--skyblue);
}

.text-chartreuse {
  color: var(--chartreuse);
}

.text-sienna {
  color: var(--sienna);
}

.text-orchid {
  color: var(--orchid);
}

.text-moccasin {
  color: var(--moccasin);
}

.text-lightblue {
  color: var(--lightblue);
}

.text-greenyellow {
  color: var(--greenyellow);
}

.text-saddlebrown {
  color: var(--saddlebrown);
}

.text-mediumorchid {
  color: var(--mediumorchid);
}

.text-navajowhite {
  color: var(--navajowhite);
}

.text-powderblue {
  color: var(--powderblue);
}

.text-lime {
  color: var(--lime);
}

.text-maroon {
  color: var(--maroon);
}

.text-darkorchid {
  color: var(--darkorchid);
}

.text-peachpuff {
  color: var(--peachpuff);
}

.text-paleturquoise {
  color: var(--paleturquoise);
}

.text-limegreen {
  color: var(--limegreen);
}

.text-darkred {
  color: var(--darkred);
}

.text-darkviolet {
  color: var(--darkviolet);
}

.text-mistyrose {
  color: var(--mistyrose);
}

.text-lightcyan {
  color: var(--lightcyan);
}

.text-yellowgreen {
  color: var(--yellowgreen);
}

.text-brown {
  color: var(--brown);
}

.text-darkmagenta {
  color: var(--darkmagenta);
}

.text-lavenderblush {
  color: var(--lavenderblush);
}

.text-cyan {
  color: var(--cyan);
}

.text-darkolivegreen {
  color: var(--darkolivegreen);
}

.text-firebrick {
  color: var(--firebrick);
}

.text-purple {
  color: var(--purple);
}

.text-seashell {
  color: var(--seashell);
}

.text-aqua {
  color: var(--aqua);
}

.text-olivedrab {
  color: var(--olivedrab);
}

.text-indianred {
  color: var(--indianred);
}

.text-indigo {
  color: var(--indigo);
}

.text-oldlace {
  color: var(--oldlace);
}

.text-turquoise {
  color: var(--turquoise);
}

.text-olive {
  color: var(--olive);
}

.text-rosybrown {
  color: var(--rosybrown);
}

.text-darkslateblue {
  color: var(--darkslateblue);
}

.text-ivory {
  color: var(--ivory);
}

.text-mediumturquoise {
  color: var(--mediumturquoise);
}

.text-darkkhaki {
  color: var(--darkkhaki);
}

.text-darksalmon {
  color: var(--darksalmon);
}

.text-blueviolet {
  color: var(--blueviolet);
}

.text-honeydew {
  color: var(--honeydew);
}

.text-darkturquoise {
  color: var(--darkturquoise);
}

.text-palegoldenrod {
  color: var(--palegoldenrod);
}

.text-lightcoral {
  color: var(--lightcoral);
}

.text-mediumpurple {
  color: var(--mediumpurple);
}

.text-mintcream {
  color: var(--mintcream);
}

.text-lightseagreen {
  color: var(--lightseagreen);
}

.text-cornsilk {
  color: var(--cornsilk);
}

.text-salmon {
  color: var(--salmon);
}

.text-slateblue {
  color: var(--slateblue);
}

.text-azure {
  color: var(--azure);
}

.text-cadetblue {
  color: var(--cadetblue);
}

.text-beige {
  color: var(--beige);
}

.text-lightsalmon {
  color: var(--lightsalmon);
}

.text-mediumslateblue {
  color: var(--mediumslateblue);
}

.text-bg-black {
  background-color: var(--black);
}

.text-bg-aliceblue {
  background-color: var(--aliceblue);
}

.text-bg-darkcyan {
  background-color: var(--darkcyan);
}

.text-bg-lightyellow {
  background-color: var(--lightyellow);
}

.text-bg-coral {
  background-color: var(--coral);
}

.text-bg-dimgray {
  background-color: var(--dimgray);
}

.text-bg-lavender {
  background-color: var(--lavender);
}

.text-bg-teal {
  background-color: var(--teal);
}

.text-bg-lightgoldenrodyellow {
  background-color: var(--lightgoldenrodyellow);
}

.text-bg-tomato {
  background-color: var(--tomato);
}

.text-bg-gray {
  background-color: var(--gray);
}

.text-bg-lightsteelblue {
  background-color: var(--lightsteelblue);
}

.text-bg-darkslategray {
  background-color: var(--darkslategray);
}

.text-bg-lemonchiffon {
  background-color: var(--lemonchiffon);
}

.text-bg-orangered {
  background-color: var(--orangered);
}

.text-bg-darkgray {
  background-color: var(--darkgray);
}

.text-bg-lightslategray {
  background-color: var(--lightslategray);
}

.text-bg-darkgreen {
  background-color: var(--darkgreen);
}

.text-bg-wheat {
  background-color: var(--wheat);
}

.text-bg-red {
  background-color: var(--red);
}

.text-bg-silver {
  background-color: var(--silver);
}

.text-bg-slategray {
  background-color: var(--slategray);
}

.text-bg-green {
  background-color: var(--green);
}

.text-bg-burlywood {
  background-color: var(--burlywood);
}

.text-bg-crimson {
  background-color: var(--crimson);
}

.text-bg-lightgray {
  background-color: var(--lightgray);
}

.text-bg-steelblue {
  background-color: var(--steelblue);
}

.text-bg-forestgreen {
  background-color: var(--forestgreen);
}

.text-bg-tan {
  background-color: var(--tan);
}

.text-bg-mediumvioletred {
  background-color: var(--mediumvioletred);
}

.text-bg-gainsboro {
  background-color: var(--gainsboro);
}

.text-bg-royalblue {
  background-color: var(--royalblue);
}

.text-bg-seagreen {
  background-color: var(--seagreen);
}

.text-bg-khaki {
  background-color: var(--khaki);
}

.text-bg-deeppink {
  background-color: var(--deeppink);
}

.text-bg-whitesmoke {
  background-color: var(--whitesmoke);
}

.text-bg-midnightblue {
  background-color: var(--midnightblue);
}

.text-bg-mediumseagreen {
  background-color: var(--mediumseagreen);
}

.text-bg-yellow {
  background-color: var(--yellow);
}

.text-bg-hotpink {
  background-color: var(--hotpink);
}

.text-bg-white {
  background-color: var(--white);
}

.text-bg-navy {
  background-color: var(--navy);
}

.text-bg-mediumaquamarine {
  background-color: var(--mediumaquamarine);
}

.text-bg-gold {
  background-color: var(--gold);
}

.text-bg-palevioletred {
  background-color: var(--palevioletred);
}

.text-bg-snow {
  background-color: var(--snow);
}

.text-bg-darkblue {
  background-color: var(--darkblue);
}

.text-bg-darkseagreen {
  background-color: var(--darkseagreen);
}

.text-bg-orange {
  background-color: var(--orange);
}

.text-bg-pink {
  background-color: var(--pink);
}

.text-bg-ghostwhite {
  background-color: var(--ghostwhite);
}

.text-bg-mediumblue {
  background-color: var(--mediumblue);
}

.text-bg-aquamarine {
  background-color: var(--aquamarine);
}

.text-bg-sandybrown {
  background-color: var(--sandybrown);
}

.text-bg-lightpink {
  background-color: var(--lightpink);
}

.text-bg-floralwhite {
  background-color: var(--floralwhite);
}

.text-bg-blue {
  background-color: var(--blue);
}

.text-bg-palegreen {
  background-color: var(--palegreen);
}

.text-bg-darkorange {
  background-color: var(--darkorange);
}

.text-bg-thistle {
  background-color: var(--thistle);
}

.text-bg-linen {
  background-color: var(--linen);
}

.text-bg-dodgerblue {
  background-color: var(--dodgerblue);
}

.text-bg-lightgreen {
  background-color: var(--lightgreen);
}

.text-bg-goldenrod {
  background-color: var(--goldenrod);
}

.text-bg-magenta {
  background-color: var(--magenta);
}

.text-bg-antiquewhite {
  background-color: var(--antiquewhite);
}

.text-bg-cornflowerblue {
  background-color: var(--cornflowerblue);
}

.text-bg-springgreen {
  background-color: var(--springgreen);
}

.text-bg-peru {
  background-color: var(--peru);
}

.text-bg-fuchsia {
  background-color: var(--fuchsia);
}

.text-bg-papayawhip {
  background-color: var(--papayawhip);
}

.text-bg-deepskyblue {
  background-color: var(--deepskyblue);
}

.text-bg-mediumspringgreen {
  background-color: var(--mediumspringgreen);
}

.text-bg-darkgoldenrod {
  background-color: var(--darkgoldenrod);
}

.text-bg-violet {
  background-color: var(--violet);
}

.text-bg-blanchedalmond {
  background-color: var(--blanchedalmond);
}

.text-bg-lightskyblue {
  background-color: var(--lightskyblue);
}

.text-bg-lawngreen {
  background-color: var(--lawngreen);
}

.text-bg-chocolate {
  background-color: var(--chocolate);
}

.text-bg-plum {
  background-color: var(--plum);
}

.text-bg-bisque {
  background-color: var(--bisque);
}

.text-bg-skyblue {
  background-color: var(--skyblue);
}

.text-bg-chartreuse {
  background-color: var(--chartreuse);
}

.text-bg-sienna {
  background-color: var(--sienna);
}

.text-bg-orchid {
  background-color: var(--orchid);
}

.text-bg-moccasin {
  background-color: var(--moccasin);
}

.text-bg-lightblue {
  background-color: var(--lightblue);
}

.text-bg-greenyellow {
  background-color: var(--greenyellow);
}

.text-bg-saddlebrown {
  background-color: var(--saddlebrown);
}

.text-bg-mediumorchid {
  background-color: var(--mediumorchid);
}

.text-bg-navajowhite {
  background-color: var(--navajowhite);
}

.text-bg-powderblue {
  background-color: var(--powderblue);
}

.text-bg-lime {
  background-color: var(--lime);
}

.text-bg-maroon {
  background-color: var(--maroon);
}

.text-bg-darkorchid {
  background-color: var(--darkorchid);
}

.text-bg-peachpuff {
  background-color: var(--peachpuff);
}

.text-bg-paleturquoise {
  background-color: var(--paleturquoise);
}

.text-bg-limegreen {
  background-color: var(--limegreen);
}

.text-bg-darkred {
  background-color: var(--darkred);
}

.text-bg-darkviolet {
  background-color: var(--darkviolet);
}

.text-bg-mistyrose {
  background-color: var(--mistyrose);
}

.text-bg-lightcyan {
  background-color: var(--lightcyan);
}

.text-bg-yellowgreen {
  background-color: var(--yellowgreen);
}

.text-bg-brown {
  background-color: var(--brown);
}

.text-bg-darkmagenta {
  background-color: var(--darkmagenta);
}

.text-bg-lavenderblush {
  background-color: var(--lavenderblush);
}

.text-bg-cyan {
  background-color: var(--cyan);
}

.text-bg-darkolivegreen {
  background-color: var(--darkolivegreen);
}

.text-bg-firebrick {
  background-color: var(--firebrick);
}

.text-bg-purple {
  background-color: var(--purple);
}

.text-bg-seashell {
  background-color: var(--seashell);
}

.text-bg-aqua {
  background-color: var(--aqua);
}

.text-bg-olivedrab {
  background-color: var(--olivedrab);
}

.text-bg-indianred {
  background-color: var(--indianred);
}

.text-bg-indigo {
  background-color: var(--indigo);
}

.text-bg-oldlace {
  background-color: var(--oldlace);
}

.text-bg-turquoise {
  background-color: var(--turquoise);
}

.text-bg-olive {
  background-color: var(--olive);
}

.text-bg-rosybrown {
  background-color: var(--rosybrown);
}

.text-bg-darkslateblue {
  background-color: var(--darkslateblue);
}

.text-bg-ivory {
  background-color: var(--ivory);
}

.text-bg-mediumturquoise {
  background-color: var(--mediumturquoise);
}

.text-bg-darkkhaki {
  background-color: var(--darkkhaki);
}

.text-bg-darksalmon {
  background-color: var(--darksalmon);
}

.text-bg-blueviolet {
  background-color: var(--blueviolet);
}

.text-bg-honeydew {
  background-color: var(--honeydew);
}

.text-bg-darkturquoise {
  background-color: var(--darkturquoise);
}

.text-bg-palegoldenrod {
  background-color: var(--palegoldenrod);
}

.text-bg-lightcoral {
  background-color: var(--lightcoral);
}

.text-bg-mediumpurple {
  background-color: var(--mediumpurple);
}

.text-bg-mintcream {
  background-color: var(--mintcream);
}

.text-bg-lightseagreen {
  background-color: var(--lightseagreen);
}

.text-bg-cornsilk {
  background-color: var(--cornsilk);
}

.text-bg-salmon {
  background-color: var(--salmon);
}

.text-bg-slateblue {
  background-color: var(--slateblue);
}

.text-bg-azure {
  background-color: var(--azure);
}

.text-bg-cadetblue {
  background-color: var(--cadetblue);
}

.text-bg-beige {
  background-color: var(--beige);
}

.text-bg-lightsalmon {
  background-color: var(--lightsalmon);
}

.text-bg-mediumslateblue {
  background-color: var(--mediumslateblue);
}/*# sourceMappingURL=visual-design.css.map */